
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">

    <div class="starter-template justify-content-center text-center">
        <h1>Roses Resort</h1>

        <div class="card text-bg-dark">
            <img src="~/Content/img/coppia-piscina.jpg" class="card-img" alt="coppia in piscina"/>
            <div class="card-img-overlay  justify-content-center">
                <h5 class="card-title">
                    HOTEL E RESORT <br /> IN ITALIA
                </h5>
                <p class="card-text mx-5">
                    TN ESTATE SULLE PIÙ BELLE SPIAGGE SABBIOSE DI SARDEGNA, SICILIA, CALABRIA, PUGLIA E ABRUZZO;<br /> IN INVERNO SULLA NEVE, IN PIEMONTE, NEL CUORE DELLA VIALATTEA
                </p>
          
            </div>
        </div>


  

</div>